{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Авторизация
{% endblock %}


{% block content %}

    {% if form.errors %}
        <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>У вашей учетной записи нет доступа к этой странице.
                Чтобы продолжить, войдите в систему с учетной записью, имеющей доступ.</p>
        {% else %}
            <p>Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        <div class="">
        <input type="hidden" name="next" value="{{ next }}"/>

        {% crispy form %}
            <input type="submit" class="btn btn-primary" value="Авторизироваться"/>
            <br></div>
    </form>


{% endblock %}